html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.rating-state {}

.thankyou-state {}

body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: $VeryDarkBlue;
}

.attribution {
    font-size: 14px;
    text-align: center;
}


.rating-state,
.thankyou-state {
    background-color: $DarkBlue;
    width: 327px;
    height: 364px;
    border-radius: 16px;
    margin: 195px auto 80px;
    padding: 24px;

    &__title {
        color: $White;
        margin-bottom: 22px;
        font-size: 1.6em;
        font-weight: 400;
    }

    &__paragraph {
        color: $LightGrey;
        margin-bottom: 30px;
        letter-spacing: -0.5px;
    }
}

.rating-state {

    &__icon-container {
        background-color: $MediumGrey;
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 50%;
        place-content: center;
        margin-bottom: 22px; 
    }

    &__number-container {
        display: flex;
        justify-content: space-between;

        &__number {
          background-color: $MediumGrey;
            color: $LightGrey;
            width: 40px;
            height: 40px;
            border: 0;
            border-radius: 50%;
            place-content: center;
            margin-bottom: 22px;  
        }

        &__number:hover {
            color: $White;
            background-color: $LightGrey;
            cursor: pointer;
        }

        &__number:focus {
            color: $White;
            background-color: $Orange;
        }
    }

    &__button {
        width: 100%;
        height: 44px;
        border-radius: 50px;
        border: none;
        background-color: $Orange;
        text-transform: uppercase;
        color: $White;
        font-weight: 700;
        letter-spacing: 3px;
    }

    &__button:hover {
        color: $Orange;
        background-color: $White;
        cursor: pointer;
    }
}

//--------------------------------- Thankyou State
.thankyou-state {
    display: none;
    flex-direction: column;
    align-items: center;

    &__image {
        width: 150px;
        margin-bottom: 24px;
    }

    &__result {
        background-color: $MediumGrey;
        width: 170px;
        height: 36px;
        border-radius: 50px;
        color: $Orange;
        text-align: center;
        padding: 8px 0;
        margin-bottom: 30px;
        font-size: 0.9em;
    }

    &__paragraph {
        text-align: center;
    }

}
//Links
a,
a:visited,
a:hover {
    text-decoration: none;
}
.attribution {
    color: $LightGrey;
    a {
        color: hsl(228, 45%, 44%);    
    }
}

@media (min-width: 600px){
    .rating-state, .thankyou-state{
        width: 412px;
        height: 412px;
        padding: 34px;
    }
}